# Byte-compiled / optimised / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
